.main{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    text-align: center;
    background-color: azure;
}
.arrange{
    text-align: left;
}
input{
    margin-left: 5%;
    border-radius: 20px;
}
.register{
    text-align: center;
}
button{
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
}